<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My welcome page</title>
</head>
<body>
    <h1>First impression of my page</h1>
    <span th:text="${variable}"></span>
<br>
    <span th:text="${two}"></span>
    <span th:text="${gwiazdka}"></span>
    <span th:text="${two}"></span>
    <span th:text="${rowne}"></span>
    <span th:text="${two} * ${two}"></span>
<br>
    <span th:text="${two}"></span>
    <span th:text="${gwiazdka}"></span>
    <span th:text="${two}"></span>
    <span th:text="${plus}"></span>
    <span th:text="${two}"></span>
    <span th:text="${rowne}"></span>
    <span th:text="${two} * ${two} + ${two}"></span>
<br>
    <span th:text="${two}"></span>
    <span th:text="${minus}"></span>
    <span th:text="${two}"></span>
    <span th:text="${gwiazdka}"></span>
    <span th:text="${two}"></span>
    <span th:text="${rowne}"></span>
    <span th:text="${two} - ${two} * ${two}"></span>
</body>
</html>